﻿@model Estoque.Models.Movimentos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Movimentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoMovimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMovimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produtos.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edição", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retornar", "Index")
</p>
