﻿@model IEnumerable<Estoque.Models.Movimentos>

@{
    ViewBag.Title = "Index";
}

    <h2>Movimentação de Estoque</h2>

<p>
    @Html.ActionLink("Nova Movimentação", "Create")
</p>
<table class="table">
    <tr class="tr-cabec">
        <th>
            @Html.DisplayNameFor(model => model.tipoMovimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr-linha">
        <td>
            @Html.DisplayFor(modelItem => item.tipoMovimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) 
        </td>
    </tr>
}

</table>
