﻿@{
    ViewBag.Title = "Home Page";

    Layout = "";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Estoque.css")
@Scripts.Render("~/bundles/modernizr")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<div class="jumbotron" style="background-color:cornflowerblue">
    <h1>Controle de Estoque</h1>
    <p class="lead">Sistema para controle de quantidades de produtos de informática</p>
</div>

<div class="row">

    <div class="col-md-4">
        <p>&nbsp;</p>
    </div>

    <div class="jumbotron col-md-4">
        <form action="/Usuario/Login" method="post">

            <h2>LOGIN</h2>
            <br />
            <p>Usuário</p>
            <input type="text" class="form-control" id="idusuario" name="loglogin">
            <br />
            <p>Senha</p>
            <input type="text" class="form-control" id="idsenha" name="logsenha">
            <br />
            <br />
            <p><button type="submit" class="btn btn-success" >Logon &raquo;</button></p>

        </form>
    </div>

    <div class="col-md-4">
        <p>&nbsp;</p>
    </div>
</div>



