﻿
@model IEnumerable<Estoque.Models.Usuarios>

@{
    ViewBag.Title = "Usuários";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Listagem do cadastro de usuários do sistema</p>


<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(model => model.usuario)</th>
        <th>@Html.DisplayNameFor(model => model.senha) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.usuario)</td>
            <td>@Html.DisplayFor(modelItem => item.senha)</td>
        </tr>
    }

</table>
