﻿@model IEnumerable<Estoque.Models.Usuarios>

@{
    ViewBag.Title = "Cadastro de Usuarios";
}

<h2>Cadastro de Usuários</h2>

<p>
    
</p>
<table class="table">
    <tr class="tr-cabec">
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr-linha">
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
