﻿@model Estoque.Models.Produtos

@{
    ViewBag.Title = "Details";
}

    <h2>Detalhes</h2>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edição", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retornar", "Index")
</p>
