﻿@model IEnumerable<Estoque.Models.Produtos>

@{
    ViewBag.Title = "Index";
}

    <h2>Cadastro de Produtos</h2>

<p>
    @Html.ActionLink("Novo Produto", "Create")
</p>
<table class="table">
    <tr class="tr-cabec">
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr-linha">
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorUnitario)
        </td>
        <td>
            @Html.ActionLink("Edição", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
