﻿.tr-cabec {
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    font-family: Tahoma;
    text-transform: capitalize;
}

.tr-linha {
    color: navy;
    font-size: 12px;
    font-family: Tahoma;
}

label, dt {
    text-transform: capitalize;
    color: navy;
    font-size: 14px;
    font-family: Tahoma;
    font:bold;
    text-align:left;
}

text, dd {
    color: black;
    background-color: antiquewhite;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    border:10px none green;
}